body {

    background-color: rgba(0, 0, 0, 0.99);
}


.center {
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.table-container {
            padding-top: 80px;
        }

